/* Sets font for the whole webpage */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Formats and styles header */
header {
    background-color: rgb(45, 125, 156);
    padding: 14px;
    color: snow;
}

/* Formats and styles h1 tag */
h1 {
    position: relative;
    left: -20px;
    font-size: 35px;
    background-color: rgb(52, 94, 129);
    padding: 4px 4px 4px 70px;
    display: inline;
}

/* Formats and styles profile image */
img {
    position: absolute;
    width: 120px;
    height: 170px;
    border: solid rgb(25, 76, 117);
    border-width: 5px;
    z-index: 1;
}

/* Formats navigation links */
nav a {
    position: relative;
    top: 10px;
    float: right;
    text-decoration: none;
    padding: 2px;
    margin: 0px 7px 0px 7px;
    font-size: 25px;
    color: snow;
}

/* Changes color when hovering or focusing on navigation links */
nav a:hover,
nav a:focus {
    color: rgb(13, 41, 59);
}

/* Formats navigation link section */
.container {
    width: 100%;
    max-width: 992px;
}

/* Formats navigation link section */
.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Formats navigation links */
nav ul {
    list-style: none;
    padding: 10px;
    display: flex;
}

/* Sets background color for main section */
main {
    background-color: rgb(240, 240, 240);
}

/* Styles subheader */
.subheader {
    height: 180px;
    background-color: rgb(45, 61, 61);
}

/* Sets formatting and styles for h2 tags */
h2 {
    font-size: 30px;
    color: snow;
    position: relative;
    top: 130px;
    float: right;
    margin: 0px 40px 15px 0px;
    z-index: 2;
}

/* Sets formatting and styles for h3 tags */
h3 {
    font-size: 40px;
    color: rgb(25, 76, 117);
    display: flex;
    flex-direction: column;
}

/* Formats "about" section */
.about {
    margin: 40px 0px 0px 40px;
}

/* Sets formatting and styles for paragragh tags */
p {
    color: rgb(15, 53, 85);
    max-width: 80%;
    margin: 10px 10px 0px 30px;
}

/* Formats "main" section */
.main {
    margin: 40px 0px 0px 40px;
}

/* Styles anchor tags in main section */
.main a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(25, 76, 117);
}

/* Sets formatting and styles for big card */
.card-big {
    border: solid rgb(25, 76, 117);
    border-width: 10px;
    padding: 30px;
    margin: 20px 0px 0px 20px;
    height: 350px;
}

/* Changes background color when hovering over the big card */
.card-big:hover {
    background-color: rgb(148, 187, 219);
}

/* Sets formatting for small card section */
.card-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* Sets formatting and styles for small cards */
.card-small {
    border: solid rgb(25, 76, 117);
    border-width: 10px;
    padding: 30px;
    margin: 20px 0px 0px 20px;
    height: 100px;
}

/* Changes background color when hovering over small cards */
.card-small:hover {
    background-color: rgb(148, 187, 219);
}

/* Sets formatting for "Contact Me" section */
.contact {
    margin: 40px 0px 0px 40px;
    padding: 10px 0px 40px 0px;
}

.contact div {
    margin-top: 30px;
}

/* styles "Contact Me" links */
.contact a {
    font-size: 20px;
    color: rgb(25, 76, 117);
    margin: 40px 0px 40px 20px;
    padding: 10px;
}

/* Sets the background for the footer */
footer {
    background-color: rgb(45, 125, 156);
    height: 40px;
}

/* Changes format for large screens */
@media screen and (max-width: 2000px) {
    
    .about p {
        width: 80%;
        text-align: center;
    }
    .card-big {
        width: 80%;
    }
    .card-small {
        width: 80%;
    }
}

/* Changes format for medium screens */
@media screen and (max-width: 880px) {
    body {
        width: 100%;
    }
    .container {
        text-align: center;
    }
    .container-nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: row;
    }
    nav li {
        margin: 5px;
    }
    h1 {
        text-align: center;
    }
    .about p {
        width: 80%;
        text-align: center;
    }
    .card-big {
        width: 80%;
    }
    .card-small {
        width: 80%;
    }
    .contact a {
        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }

/* Changes format for small screens */
@media screen and (max-width: 596px) {
    body {
        width: 100%;
    }
    .container {
        text-align: center;
    }
    .container-nav {
        flex-direction: column;
    }
    nav ul {
        flex-direction: column;
    }
    nav li {
        margin: 5px;
    }
    h1 {
        text-align: center;
    }
    .about p {
        width: 80%;
        text-align: center;
    }
    .card-big {
        width: 70%;
    }
    .card-small{
        width: 70%;
    }
    .contact a {
        padding: 10px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }