body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: rgb(45, 125, 156);
    padding: 14px;
    color: snow;
    
}

header h1 {
    position: relative;
    left: -20px;
    font-size: 35px;
    background-color: rgb(52, 94, 129);
    padding: 4px 4px 4px 70px;
    display: inline;
}

header a {
    position: relative;
    top: 10px;
    float: right;
    text-decoration: none;
    padding: 2px;
    margin: 0px 7px 0px 7px;
    font-size: 25px;
    color: snow;
}